{% extends 'layout.html' %}

{% block title %}
Dog Names
{% endblock %}

{% block body %}

    <h1>Dog Names</h1>

    <form method="post">
        <input autocomplete="off" autofocus name="add_name" type="text">
        <input type="submit">
    </form>

    <ul style="list-style: none;">
        {% for i in range(dogs|length) %}
            {% set dog = dogs[i] %}
            <li>
                <form method="post">
                    <button name="delete_name" value="{{ dog.name }}" type="submit">❌</button>
                            
                    {% if i > 0 %} 
                        <button name="move_up" value="{{ dog.name }}" type="submit">🔼</button>
                    {% else %}
                        <button name="move_up" value="{{ dog.name }}" type="submit" disabled>🔼</button>
                    {% endif %}

                    {% if i < (dogs | length - 1) %}
                        <button name="move_down" value="{{ dog.name }}" type="submit" >🔽</button>
                    {% else %}
                        <button name="move_down" value="{{ dog.name }}" type="submit" disabled>🔽</button>
                    {% endif %}

                    {{ dog.name }}, {{ dog.count }}

                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
