{% extends 'layout.html' %}

{% block title %}
Dog Names
{% endblock %}

{% block body %}

    <h1>Dog Names</h1>

    <form method="post">
        <input autocomplete="off" autofocus name="add_name" type="text">
        <input type="submit">
    </form>

    <ol>
        {% for i in range(dogs|length) %}
            {% set dog = dogs[i] %}
            <li>
                <form method="post">
                    {{ dog["name"] }}, {{ dog["count"] }} <button name="delete_name" value="{{ dog['name'] }}" type="submit">DELETE</button>
                            
                    {% if i > 0 %} 
                        <button name="move_up" value="{{ dog['name'] }}" type="submit"> UP </button>
                    {% endif %}

                    {% if i < (dogs | length - 1) %}
                        <button name="move_down" value="{{ dog['name'] }}" type="submit"> DOWN </button>
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
