{% extends 'layout.html' %}

{% block title %}
Dog Names
{% endblock %}

{% block body %}

    <h1>Dog Names</h1>

    <form method="post">
        <input autocomplete="off" autofocus name="add_name" type="text">
        <input type="submit">
    </form>

    <ul>
        {% for dog in dogs %}
            <li>
                <form method="post">
                    <button name="delete_name" value="{{ dog }}" type="submit">X</button> {{ dog }} 
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
